<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mappe2h13_s169537"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="18" />
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/balloons"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.mappe2h13_s169537.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.mappe2h13_s169537.Addcontact"
            android:label="" >
        </activity>
                <activity
            android:name="com.example.mappe2h13_s169537.Editcontact"
            android:label="" >
        </activity>
        <service android:name="AlarmService">
           
       </service>
       <service android:name="SMSservice">
           
       </service>
       <receiver android:name="BroadcastReceiver">
         <intent-filter>
             <action android:name="android.intent.action.BOOT_COMPLETED"/>
         </intent-filter>  
       </receiver>
        
    </application>

</manifest>
